:root {
  --primary-color: #6AC045;
}

.movie-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

.favorite-container {
  justify-content: left;
}

.movie-card {
  border: 1px solid white;
  height: 380px;
  width: 280px;
  margin-top: 30px;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}

.movie-card img {
  width: 100%;
  height: 100%;
}

.fav-icon {
  position: absolute;
  font-size: 2rem;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  opacity: 0;
  color: #e2e2e2;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.remove-icon {
  width: 30px;
  height: 30px;
  background-color: palevioletred;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  top: 10px;
}

.movie-detail {
  background-color: black;
  padding: 8px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  opacity: 0;
  transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
}

.movie-detail p {
  font-size: 0.8rem;
}

.overview {
  max-height: 150px;
  overflow: auto;
}

.movie-detail h4 {
  color: var(--primary-color);
}

.movie-card:hover {
  transform: scale(1.05);
  z-index: 1;
}

.movie-card:hover .movie-detail,
.movie-card:hover .fav-icon {
  opacity: 1;
}

.fav-error {
  font-size: 2rem;
}

button {
  border: none;
  padding: 4px 6px;
  background-color: var(--primary-color);
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

@media screen and (max-width: 1370px) {
  .movie-card-container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 610px) {
  .movie-card-container {
    margin-top: 20px;
  }

  .movie-card {
    width: 320px;
    height: 420px;
  }

  .movie-card:hover {
    transform: scale(1);
    z-index: 1;
  }

  .fav-error {
    margin-top: 20%;
    font-size: 2rem;
  }

  .remove-icon {
    opacity: 1;
  }

}
